*{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue";
}
body{
		background-color: #dddddd;
		height: auto;

}
#header{
	width: 100%;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#logo{
	
	padding:1% 0 1% 14%;
}

#logoimg{
	color: white;
}
strong{
	color: rgba(247,225,64,0.93);
}



#wrapper{
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	}
#leftSide{
	float:left;
	clear: both;
	padding:3% 0 0 13.2%;
	max-width:32%;
}

.aboutMe{

	max-width: 100%;
	font-size: 3em;
	color:#3671c2;
	 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.2)), color-stop(50%, rgba(183,219,253,.5)), to(rgba(102,182,252,1)));  
	 padding:5% 0 0 13%;
}
#leftText{
padding:1% 0 0 13%;
}
.paraOne , .paraTwo , .skills{
	padding-top:5%;	
}


#rightSide{
padding: 0 0 1% 55%;
}

.mypic{
padding-left:1%;
max-width: 100%;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px){
	/* Your styles go here... */
	.mypic{
		display: none;
	}
	.paraOne{
		color:maroon;
		
	}
}
